/* Used SCSS variable for adding the color to various elemets */
$color: rgb(255, 255, 255);

/* Used SCSS variable for adding box shadow to the Recommended Destination & Customer Review section*/
$box-shadow: 5px 10px 8px 15px rgb(247, 247, 252);

/* Used SCSS variable for using transform property */
$transform: translate(-50%, -50%);

/* Used SCSS variable for defining the basic padding/margin property */
$basic_size: 10px;